* {
    font-family: RailWay;
    
}



@font-face {
    font-family: 'RailWay'; /*a name to be used later*/
    src: url("../fonts/Railway.otf"); /*URL to font*/
}

h1 {

    font-family: RailWay;
}

.icon {
    box-shadow: 0 0 15px #aaaaaa;
    transition: box-shadow 0.3s ease-in-out;
}

.icon:hover {
    background-color: cadetblue;
    box-shadow: 0 0 30px #aaaaaa;

}

a {
    color: black;
    text-decoration: none;
}

.powerOptions {
    position: fixed;
    width: 100%;
    height: 100%;
    text-align: center;
    /*display: none;*/
    background-color: rgba(0, 0, 0, 0.575);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    transition: all 0.4s ease-out;
}

#powerOff {
    transition: background-color 0.3s ease-in-out;
    border-radius: 20px;
    background-color: #ffffff8a;
}

#powerOff:hover {
    background-color: rgba(255, 255, 255, 0.411);
}

#powerOff:active {
    background-color: rgba(202, 202, 202, 0.781);
}

.powerOptions--activated {
    position: fixed;
    width: 100%;
    height: 100%;
    text-align: center;
    /*display: block;*/
    background-color: rgba(0, 0, 0, 0.575);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 1;
    transition: all 0.4s ease-out;
}

#powerBtn {
    background-color: #ffffff8a;
    border-radius: 20px;
    transition: background-color ease-in-out 0.3s;
}

#powerBtn:hover {
    background-color: rgba(255, 255, 255, 0.411);
}

.appContainer {
    z-index: 10;
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
}

iframe {
    width: 100%;
    /*height: 100%;*/
}

.powerText {
    color: white;
}

#appViewer {
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 90vh;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: none;
    
}

.grid2 {
  
    display: grid; 
    grid-template-columns: auto auto;
    grid-gap: 2vh;
    
}

.left {
    float: left;
}

.right {
    float: right;
}

.appGrid {
    background-color:  #ffffff8a;
	border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.4s ease-out;
}

.appGrid:hover {
    background-color: rgba(255, 255, 255, 0.411);
	border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

}
.menu {
    transform: translateY(100%);
    opacity: 0;
    transition: all 0.4s ease-out;
}

.menu--collapse {
    transform: translateY(0);
    opacity: 1;
    transition: all 0.4s ease-out;
}

.clock-container {
  
    opacity: 1;
    transition: all 0.4s ease-out;
}

.clock-container--opened {
    
    opacity: 0;
    transition: all 0.4s ease-out;
}

#clock {
    font-size: 500%;
    text-align: center;
}

.clock {
    background-color:  #ffffff8a;
	border-radius: 10px;
	margin-bottom: 8px;
}



