:root {
	--shadow-color: #aaaaaa;
	--main-bg-color: rgba(255, 255, 255, 0.411);
	--slider-knob-color: rgb(255, 255, 255);
	--slider-color: rgb(255, 255, 255);
	--slider-knob-shadow: rgb(46, 46, 46);
	--app-bg-brightness: 80%;
	--app-bg-blur: 13px;
	--font-color: rgb(255, 255, 255);
	--main-padding: 8px;
	--title-padding: 20px;
	--ui-roundness: 10px;
	--knob-roundness: 100px;
}

* {
	font-family: sans-serif;
}

@keyframes screenOpen {
	0% {
		transform: translateY(50%);
		opacity: 0;
	}

	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes prompt {
	0% {
		transform: translateY(-100%);
	}

	100% {
		transform: translateY(0);
	}
}

.titleBar {
	background-color: rgba(255, 255, 255, 0.411);
	font-family: sans-serif;
	font-size: 180%;
	border-radius: var(--ui-roundness);
	border: none;
}

.titleBar p {
	
	padding: var(--title-padding);
}

.btn {
	background-color: rgba(255, 255, 255, 0.411); 
	border: none;
	font-size: 4vh;
	border-radius: 10px;
	padding: 2vh;
	transition: background-color 0.3s ease-in-out;
	margin: 1vh;
}

.btn:hover {
	background-color: #ffffff8a;

}

.btn:active {
	background-color: rgba(255, 255, 255, 0.781)
}

.editText {
	background-color: #c5c5c56c;
    border-top: none;
    border-right: none;
    border-left: none;
    color: white;
    font-size: 100%;
    
    border-bottom: 2px solid rgb(112, 216, 126);
}

.editText:hover {
	box-shadow: 0 0 15px #aaaaaa;
}

.textBlock {
	background-color:  rgba(255, 255, 255, 0.411);
	padding: var(--main-padding);
	border-radius: 10px;
	margin-bottom: 8px;
}

.menuOptionTop {
	background-color: rgba(255, 255, 255, 0.411);
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	/*justify-content: center;*/
	align-items: center;
	transition: background-color 0.3s ease-in-out;
	
	display: flex;
}

.menuOptionBottom {
	background-color: rgba(255, 255, 255, 0.411);
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	/*justify-content: center;*/
	align-items: center;
	transition: background-color 0.3s ease-in-out;
	
	display: flex;
}

.menuOption {
	background-color: rgba(255, 255, 255, 0.411);
	border-radius: 10px;
	/*justify-content: center;*/
	align-items: center;
	transition: background-color 0.3s ease-in-out;
	
	display: flex;
}


.menuOption:hover {
	background-color: #ffffff8a;
}

.menuOptionMiddle {
	background-color: rgba(255, 255, 255, 0.411);
	
	/*justify-content: center;*/
	align-items: center;
	transition: background-color 0.3s ease-in-out;
	
	display: flex;
}

.menuImage {
	/*padding-left: 10px;*/
	margin-inline: 10px;
}

.menuLabel {
	/*display: inline-flex;*/
}

.imageBtn {
	background-color: rgba(255, 255, 255, 0.411);
	border-radius: 10px;
	border: none;
	transition: background-color 0.3s ease-in-out;
}

.imageBtn:hover {
	background-color: #ffffff8a;
}

.gridC {
	display: grid;
	justify-content: center;
	align-items: center;
}

.grid2 {
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 2vh;
}

.grid3 {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 2vh;
}

.grid4 {
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-gap: 2vh;
}

.grid5 {
	display: grid;
	grid-template-columns: auto auto auto auto auto;
	grid-gap: 2vh;
}



.dialogueBox {
	display: none;
	position: fixed;
    background-color: rgba(255, 255, 255, 0.411);
    box-shadow: #aaaaaa 0 0 10px;
	padding: var(--main-padding);
	width: 100%;
	animation: 0.5s ease 0s 1 prompt;
	z-index: 3;
}

.dialogueBtn {
	background-color:  rgba(255, 255, 255, 0.411);
    color:black;
    font-size: 150%;
	border: none;
	padding: 8px;
}

.dialogueBtn:hover {
	background-color: #ffffff8a;
}

.background {
	background-image: url('../wallpapers/yellowElder.jpg');
	
    position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
	background-position: center;
    width: 100%;
    height: 100%;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
    z-index: -1;
	transform: scale(1.2);
    filter: blur(13px) brightness(70%);
	
}

.divider {
	display: flex;
	border: none;
	border-top: 3px solid rgb(255, 0, 0);
}

.infoSeperator {
	display: inline-flex;
	color: var(--font-color);
}

.backgroundHome {
	background-image: url('../wallpapers/yellowElder.jpg');
    position: fixed;
    background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
    width: 100%;
    height: 100%;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
    z-index: -1;
}

.screen {
	display: none;
	animation: 0.4s ease 1 normal forwards screenOpen;
}

.splashScreen {
	
	text-align: center;
	width: 100%;
	height: 100%;
	z-index: 2;
	position: fixed;
	display: grid;
	justify-content: center;
	align-items: center;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	opacity: 1;
	transition: all 0.4s ease-out;
}

.splashScreen--hide {
	
	text-align: center;
	width: 100%;
	height: 100%;
	z-index: 2;
	position: fixed;
	display: grid;
	justify-content: center;
	align-items: center;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	opacity: 0;
	transition: all 0.4s ease-out;
}



.splashScreen img {

	width: 100px;
	border-radius: 30px;
}

.label {
	background-color:  rgba(255, 255, 255, 0.411);
	border-radius: 5px;
	display: table;
	padding: var(--main-padding);
}

.seek {
	-webkit-appearance: none;  /* Override default CSS styles */
	appearance: none;
	width: 100%; /* Full-width */
	height: 10px; /* Specified height */
	border-radius: 15px;
	background: #d3d3d3; /* Grey background */
	outline: none; /* Remove outline */
	opacity: 1; /* Set transparency (for mouse-over effects on hover) */
	-webkit-transition: .2s; /* 0.2 seconds transition on hover */
	transition: opacity .2s;
	/* width: 80%; */
}

.seek::-webkit-slider-thumb {
	-webkit-appearance: none; /* Override default look */
  	appearance: none;
  	width: 15px; /* Set a specific slider handle width */
  	height: 15px; /* Slider handle height */
  	/* background: #04AA6D; */
  	cursor: pointer; /* Cursor on hover */
	background-color: var(--slider-knob-color);
	border-radius: 100px;
	box-shadow: 0 0 12px var(--slider-knob-shadow);
	transition: width 0.2s ease-out;
}


.seek::-webkit-slider-thumb:hover {
	width: 20px;
}

.seek::-webkit-slider-runnable-track {
	-webkit-appearance: none; /* Override default look */
  	appearance: none;
  	/* width: 25px; Set a specific slider handle width */
  	/* height: 25px; Slider handle height */
  	background-color: var(--slider-color); /* Green background */
	border-radius: 15px;
  	cursor: pointer; /* Cursor on hover */
}

.seek::-moz-range-thumb {
	border: none;
	background-color: var(--slider-knob-color);
	border-radius: 100px;
	box-shadow: 0 0 12px var(--slider-knob-shadow);
	transition: width 0.2s ease-out;
}

.seek::-moz-range-thumb:hover {
	width: 20px;
	
}

.seek::-moz-range-thumb:active {
	width: 20px;
	
}

.seek::-moz-range-track {
	background-color: var(--slider-color);
	border-radius: 15px;
	/* width: 80%; */
}

