<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Dialler</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/shellUI.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/dialler.css') }}">
	<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
</head>

<body>
	<div class="splashScreen" id="splashScreen"><img src="{{ url_for('static', filename='images/dialler.png') }}" alt=""></div>
	<div class="background"></div>
	<div class="screen" id="main">
		
		
		<div class="titleBar">
			<p>Dialler</p>
		</div>
		<div class="textBlock">
			<p>Recent Contacts</p>
		</div>
		<div class="grid3">
			<button class="btn">1</button>
			<button class="btn">2</button>
			<button class="btn">3</button>
			<button class="btn">4</button>
			<button class="btn">5</button>
			<button class="btn">6</button>
			<button class="btn">7</button>
			<button class="btn">8</button>
			<button class="btn">9</button>
			<button class="btn">*</button>
			<button class="btn">0</button>
			<button class="btn">#</button>
		</div>
		<p id="dial"><img class="imageBtn" src="{{ url_for('static', filename='images/call_ico.png') }}"></p>


	</div>
	</div>
	</div>

	<script src="{{ url_for('static', filename='js/shellUtils.js') }}"></script>
	<style>
		.background {
			background-image: url('../static/wallpapers/{{ wallpaper }}');
		}
	</style>
</body>

</html>