<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/shellUI.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/music.css') }} ">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
</head>
<body id="body">
    <div class="splashScreen" id="splashScreen"><img src="{{ url_for('static', filename='images/music.png') }}" alt=""></div>
    <div class="background"></div>
    <div class="screen" id="main">
        <div class="titleBar"><p>Music</p></div>
        
    </div>
    <div class="screen" id="playerPage">
        <img class="imageBtn" width="30" src="{{ url_for('static', filename='images/btnDown.png') }}" id="shrinkBtn">
        <div class="gridC">
            <img width="300px" id="playerCover">
        </div>
        <div class="gridC">
            <p id="mLabel2" class="textBlock"></p>
        </div>
        <!-- <div class="gridC"> -->
            <input class="seek" type="range" min="0" max="100" value="0" id="seekBar">
            <div class="timeCont">
                
                    <p id="currentTime" class="label"></p>
                    <p id="totalTime" class="label"></p>
                
            </div>
        <!-- </div> -->
        <div class="gridC">
            <div class="grid3inline">
                <img src="static/images/rewind_ico_2.png"  onclick="previousSong()" class="imageBtn">
                <img src="static/images/pause_ico_2.png"  onclick="togglePlayer()" id="play2" class="imageBtn">
                <img src="static/images/forward_ico_2.png" onclick="nextSong()" class="imageBtn">
    
                
            </div>
        </div>

    </div>



    <style>
        .background {
            background-image: url('../static/wallpapers/{{ wallpaper }}');
        }
    </style>
    <script src="{{ url_for('static', filename='js/libs/jquery/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/libs/jsmediatags/jsmediatags-3.9.5-min.js')}}"></script>
    <script src="{{ url_for('static', filename = 'js/libs/colorTheif/color-theif.umd.js')}}"></script>
    <script src="{{ url_for('static', filename='js/shellUtils.js') }}"></script>
    
    <script src="{{ url_for('static', filename='js/music.js') }}"></script>
</body>
</html>