<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/shellUI.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/music.css') }} ">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
</head>
<body>
    <div class="splashScreen" id="splashScreen"><img src="{{ url_for('static', filename='images/music.png') }}" alt=""></div>
    <div class="background"></div>
    <div class="screen" id="main">
        <div class="titleBar"><p>Music</p></div>
        <p class="textBlock">Work In Progress</p>
    </div>



    <style>
        .background {
            background-image: url('../static/wallpapers/{{ wallpaper }}');
        }
    </style>
    <script src="{{ url_for('static', filename='js/shellUtils.js') }}"></script>
</body>
</html>