<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Settings</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/shellUI.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/settings.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
</head>
<body>
	<div class="splashScreen" id="splashScreen"><img src="{{ url_for('static', filename='images/settings.png') }}" width="70"></div>
    <div class="background" id="bag"></div>
    <div class="settings">
        <div class="dialogueBox" id="prompt">
            <h3>Clear System Data</h3>
            <p>Are You sure You Want To Clear All Of The System Data?</p>
            <div class="grid2">
                <button class="dialogueBtn" onclick="clearData()">Clear</button>
                <button class="dialogueBtn" onclick="closeDialogue('prompt')">Cancel</button>
            </div>
        </div>
        <div class="screen" id="storage">
            <div class="titleBar">
                <img src="{{ url_for('static', filename='images/back_ico.png') }}" width="40" id="btn" onclick="openScreen('main')" class="btn">
                <p>Storage</p>
            </div>
            <h3 class="textBlock">Storage Space</h3>
            <div class="textBlock">
                <h4>Information About Your Device's Storage Space.</h4>
                <p>Total Storage Space: {{stGig}}GB</p>
                <p>Free Storage Space: {{frGig}}GB</p>
                <p>Used Storage Space: {{usGig}}GB</p>
            </div>
            <div class="textBlock">
                <h3>System Data</h3>
                <p>System Data Contains All Your Prefrences. Like Your Wallpaper, Fonts, etc...</p>
            </div>
            <button onclick="clearAll()" class="btn" id="clear">Clear Data</button>
        </div>
        <div class="screen" id="wallpaper">
            <div class="titleBar">
                <img src="{{ url_for('static', filename='images/back_ico.png') }}" width="40" id="btn" onclick="openScreen('main')" class="btn">
                <p>Wallpapers</p>
            </div>
            <h3 class="textBlock">Wallpapers</h3>
            <div class="textBlock"><p>Current Wallpaper: {{ wallpaper }}</p></div>
            <a href="http://127.0.0.1:5000/wall2"><img src="{{ url_for('static', filename='wallpapers/wall2.jpg') }}" height="150" width="90" id="wall2"></a>
            
                <a href="http://127.0.0.1:5000/pinkFlower"><img src="{{ url_for('static', filename='wallpapers/pinkFlower.jpg') }}" height="150" width="90" id="pinkFlower"></a>
                <a href="http://127.0.0.1:5000/risingSun"><img src="{{ url_for('static', filename='wallpapers/risingSun.jpg') }}" height="150" width="90" id="risingSun"></a>
                <a href="http://127.0.0.1:5000/droplets"><img src="{{ url_for('static', filename='wallpapers/droplets.jpg') }}" height="150" width="90"></a>
                <a href="http://127.0.0.1:5000/dragonTeath"><img src="{{ url_for('static', filename='wallpapers/dragonTeath.jpg') }}" height="150" width="90"></a>
                <a href="http://127.0.0.1:5000/wetLeaves"><img src="{{ url_for('static', filename='wallpapers/wetLeaves.jpg') }}" height="150" width="90"></a>
                <a href="http://127.0.0.1:5000/Clouds"><img src="{{ url_for('static', filename='wallpapers/Clouds.jpg') }}" height="150" width="90"></a>
                <a href="http://127.0.0.1:5000/woodenPlanks"><img src="{{ url_for('static', filename='wallpapers/woodenPlanks.jpg') }}" height="150" width="90"></a>
                <a href="http://127.0.0.1:5000/ocean"><img src="{{ url_for('static', filename='wallpapers/ocean.jpg') }}" height="150" width="90"></a>
                <a href="http://127.0.0.1:5000/auroraBy(johnyGoerend)"><img src="{{ url_for('static', filename='wallpapers/auroraBy(johnyGoerend).jpg') }}" height="150" width="90"></a>

        </div>
        <div class="screen" id="about">
            <div class="titleBar">
                <img src="{{ url_for('static', filename='images/back_ico.png') }}" width="40" id="btn" onclick="openScreen('main')" class="btn">
                <p>About</p>
            </div>
            <div class="textBlock">
                <p>Vee Shell Version: 0.85 Alpha</p>
                <p id="screenRes">screen resolution</p>
                <p id="ram">RAM: {{ memGig }}GB</p>
                <p id="cpu">CPU {{ cpu }}</p>
                <p>Total Storage Space: {{stGig}}GB</p>
            </div>
        </div>
        <div class="screen" id="main">
            <div class="titleBar">
                <p>Settings</p>
            </div>

            <div class="menuOption" onclick="openScreen('wallpaper')">
                <img src="{{ url_for('static', filename='images/wall_ico.png') }}" width="30" class="menuImage">
                <p class="menuLabel">Wallpaper</p>
            </div>
            
            <div class="menuOption">
                <img src="{{ url_for('static', filename='images/font_ico.png') }}" width="30" class="menuImage">
                <p class="menuLabel">Fonts</p>
            </div>
            
            <div class="menuOption" onclick="openScreen('storage')">
                <img src="{{ url_for('static', filename='images/storage_ico.png') }}" width="30" class="menuImage">
                <p class="menuLabel">Storage</p>
            </div>
            
            <div class="menuOption" onclick="openScreen('about')">
                <img src="{{ url_for('static', filename='images/about_ico.png') }}" width="30" class="menuImage">
                <p class="menuLabel">About</p>
            </div>
        </div>
    </div>

    <style>
        .background {
            background-image: url('../static/wallpapers/{{ wallpaper }}');
        }
    </style>
    
        </div>
        </div>

<script src="{{ url_for('static', filename='js/shellUtils.js') }}"></script>
<script src="{{ url_for('static', filename='js/settings.js') }}"></script>
</body>
</html>
